#links{
    color: #bd3a3f !important;
}

#quick{
    color: #000000 !important;
}

#footer-logo {
    border-radius: 40%;
    width: 75px;
    height: 50px;      
}

footer {
    background-color: #f8f9fa;
    width: 100vw !important;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 2rem;
}