#btn-1{
    background-color: #bd3a3f !important;
    border-color: #bd3a3f !important;
}

#btn-1:hover{
    background-color: #c26f71 !important;
    color: #ffffff !important;
}

#btn-2{
    color: #bd3a3f !important;
    border-color: #bd3a3f !important;
}

#btn-2:hover{
    background-color: #c26f71 !important;
    color: #ffffff !important;
}

body{
    background-color: #d9d9d9;
}