.c-card-body {


}

.c-category {
    font-size: 0.75rem;
    font-weight: 500;
    color: #bd3a3f !important;
    background-color: rgba(189, 58, 63, 0.2) !important;
    border-color: #bd3a3f !important;
}

.c-nivel {
    color: #bd3a3f !important;
}

.c-elegido {
    background-color: #bd3a3f !important;
    color: white !important;
    border-color: #bd3a3f !important;
}

.c-no-elegido:hover {
    background-color: white !important;
    color: #bd3a3f !important;
    border-color: #bd3a3f !important;
}

.anadir-coche{
    background-color: #bd3a3f !important;
    color: white !important;
    border-color: #bd3a3f !important;
}

.b-insc:hover {
    background-color: #bd3a3f !important;
    color: white !important;
    border-color: #bd3a3f !important;
}