
.nav-inventario {
    color: white !important;
    transition: background-color 0.3s ease;
}

.inv{
    background-color: #bd3a3f !important;
}

.nav-inventario:hover {
    background-color: rgb(212, 108, 108) !important;
    border-color: #bd3a3f !important;
}

.nav-usuarios {
    color: white !important;
}

.nav-mensajes {
    color: white !important;
}

.body{
    background-color: #212529 !important;
}

.ant-sig-btn {
    color: #bd3a3f !important;
    border-color: #bd3a3f !important;
}

.ant-sig-btn:hover {
    background-color: #bd3a3f !important;
    color: white !important;
}  

.ant-sig-btn:active {
    transform: translateY(-3px);
    filter: brightness(1.3);
}