#btn-1{
    background-color: #bd3a3f !important;
    border-color: #bd3a3f !important;
}

#btn-1:hover{
    background-color: #c26f71 !important;
    color: #ffffff !important;
}

#btn-2{
    color: white !important;
    border-color: #bd3a3f !important;
}

#btn-2:hover{
    background-color: #c26f71 !important;
    color: #ffffff !important;
}

.landing {
  margin: 0; 
  min-height: 100vh; 
  background: 
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
    url("/images/conses.jpg") no-repeat center center !important; 
  background-size: cover !important; 
  background-attachment: fixed !important; 
  color: white; 
}